<header class="hj-bar my-bar bar bar-nav">
    <a class="icon icon-left-nav pull-left"><span>返回</span></a>
    <div class="hj-bar-my" href="javascript:void(0)">
        我的慧驾
    </div>
</header>

<div class='content'>
    <div class="app-my-info">

        <div class="my-photo">
            <img src="http://m.huijiacn.com/huijiaApp/images/user_photo.png" />
        </div>
        <div class="my-base-info">
            <p><span class="name"><%= nickName %></span><span class="vip-icon"><%= level %></span></p>
            <p><span class="app-my-coin">慧驾币：￥<%= totalHuiJiaCoin %></span><span class="app-my-score">我的积分：<%= point %></span></p>
        </div>
        <div class="app-my-nav">
            <ul>
                <li><div><%= commodityCount %></div><div>收藏的文章</div></li>
                <li><div><%= gfCouponNum %></div><div>收藏的券</div></li>
                <li><div><%= shopCount %></div><div>收藏的店</div></li>
            </ul>
        </div>
    </div>

    <div class="app-my-menu">
        <ul>
            <li><i class="icon-voucher"></i>我的优惠券<span class="icon icon-right-nav"></span></li>
            <li><i class="icon-document"></i>我的订单<span class="icon icon-right-nav"></span></li>
        </ul>
        <ul>
            <li><i class="icon-car"></i>我的车辆<span class="icon icon-right-nav"></span></li>
            <li class="phone"><i class="icon-call"></i>联系客服 <span class="phone">025-96588</span><span class="icon icon-right-nav"></span></li>
            <li><i class="icon-setting"></i>退出登录<span class="icon icon-right-nav"></span></li>
        </ul>
    </div>
</div>
