<header class="hj-bar stable bar bar-nav" id="hasHeader">
    <h1 class="title">
        登录
    </h1>
    <a class="icon icon-left-nav pull-left"><span style="vertical-align: middle;font-size: 16px;">返回</span></a>
    <!--<span style="font-size: 16px;line-height: 44px;">返回</span>-->
</header>
<div class="content home">
    <form class="input-group"  role="form">
        <div class="input-row">
            <label>用户名</label>
            <input type="text" id="username" placeholder="用户名" value="<%= username %>">
        </div>
        <div class="input-row">
            <label>密码</label>
            <input type="password" id="password" placeholder="密码" value="<%= password %>">
        </div>
    </form>
    <div class="input-row">
        <button type="submit">登录</button>
    </div>
</div>

